@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');


body {
   background-color: white;
   justify-content: center;
   align-items: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Afacad Flux", sans-serif;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.header{
    box-sizing: border-box;
    margin: 0;
    gap: 20px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {

    cursor: pointer;
}

.header .logo img {

    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {

    transform: scale(1.2);
}

.header .nav-links {

    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.header .nav-links li{

    display: inline-block;
    padding: 0 20px;
    transition: transform 0.5s ease;
}

.header .nav-links li:hover{

    transform: scale(1.1);
}

.header .nav-links a{

    font-size: 500;
    color: white;
    text-decoration: none;

}

.header .nav-links li a:hover {

    color: #28a745;
}

.header .btn button {

    font-weight: 700;
    height: auto;
    color: white;
    padding: 0px 25px;
    background:#28a745;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: transform 0.5s ease;
    vertical-align: middle;
    margin: auto;

}

.header .btn button:hover {

    background-color: white;
    color: #28a745;
    transform: scale(1.1);
}

.banner {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    overflow: hidden;
    margin-bottom: 30px;
}

.banner img {

    width: 100%;
    height: auto;
    object-fit: cover;
}

.carrusel {
    justify-content: flex-start; 
    position: relative;
    max-width: 1350px;
    overflow: hidden;
    display: flex;
    flex-direction: row; 
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease; 
    width: fit-content;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    min-width: 300px; 
    max-width: 300px; 
}

.producto img {

    min-height: 400px;
    max-height: 400px; 
    min-width: 300px;
    max-width: 300px;
    margin: 0;
    transition: transform 0.5s ease;
}

.producto img:hover {

    transform: scale(1.2);
    cursor: pointer;
}

.producto h3 {
    font-size: 24px; 
    font-weight: bold; 
    color: black; 
    text-align: center; 
    margin: 20px 0; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.producto button {
    display: inline-block; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #fff; 
    background-color: #28a745; 
    border: none; 
    border-radius: 5px; 
    text-align: center; 
    text-decoration: none; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin-top: 10px;
    width: 100%; 
}

.producto button:hover {
    background-color: #218838;
    transform: scale(1.2);
}

.flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    z-index: 10;
}

.izquierda {
    left: 10px;
}

.derecha {
    right: 10px;
}

.Soporte {

    align-items: center;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
}

.Soporte form{

    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.Soporte form+p, form p{

    text-align: center;
}

.Soporte input, button {

    background-color: aliceblue;
    margin-top: 20px;
    border-radius: 4px;
    border: unset;
    padding: 15px 30px;
    font-size: larger;
}

.Soporte button{

    background-color: #218838;
    color:white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.Soporte button:hover {

    transform: scale(1.1);
}










